{{> head }}
{{> navbar }}

<div class="row">

	<div class="col-8">
		<h1>Texto preuba </h1>
	</div>
	
	<div class="col-8">
		<img src="assets/img/cafe.jpg" alt="img-thumbnail">
	</div>
	

</div>

{{> footer }}	
	
